# PyCharm project setup (.idea), jupyter notebook folders and precompiled bytecode (__pycache__)
/.idea/
*__pycache__/
.ipynb_checkpoints

# Package building related folders
/vencopy.egg-info
/build
/dist

# log files
debug.log
Makefile
make.bat

# Git version conflict files
*.py.orig

# Output folders
/vencopy/output/*

# files with local paths
vencopy/config/localPathConfig.yaml

# VS-Code
.vscode
/docs/_build/
*.code-workspace
clusters.py
clusters.csv
plots.ipynb

# Verification notebook
vencopy/verificationTimeBranch.ipynb